{% extends 'mytemplate.jinja2' %}
{% block content %}
   <section class="container clearfix">
       <form method="POST">
            <aside role="complementary" style="text-align: center;">
                <h2 style="color: #3891cf">Идея</h2>
                <table class="new_idea_append">
                    <tr>
                        <td>Название</td>
                        <td><input type="text" name="ideasName" id="ideasName" value="{{ ideasName }}"
                                   style="width: 130px;position: relative; left:100px;"></td>
                    </tr>
                    <tr>
                        <td>Категория</td>
                        <td>
                            <input type="text" style="position: relative; left:100px; width: 130px">
                        </td>
                    </tr>
                    <tr>
                        <td>Автор: </td>
                        <td style="position: relative; left:100px;">имя_пользователя</td>
                    </tr>
                </table>
                <textarea placeholder="Описание..." style="height: 200px;
                            width: 300px; position: relative; left:-50px; margin: 20px;"></textarea>
                <table style="position: relative; left: 600px; top:-180px;">
                    <tr>
                        <td>5</td>
                        <td style="position: relative; left: 5px; top:3px;"><input type="radio"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td style="position: relative; left: 5px; top:3px;"><input type="radio"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td style="position: relative; left: 5px; top:3px;"><input type="radio"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td style="position: relative; left: 5px; top:3px;"><input type="radio"></td>
                    </tr>
                        <td>1</td>
                        <td style="position: relative; left: 5px; top:3px;"><input type="radio"></td>
                    </tr>
                </table>
                <button type="submit" name="estimate" id="add_new_idea"
                        style="position:relative; left:180px; top:-165px;">Оценить</button>
            </aside>
        </form>
    </section>

    <div class="gap" style="height: 100px"></div>
{% endblock %}