{% extends 'mytemplate.jinja2' %}
{% block content %}

    <section role="banner">
       <article role="main" class="clearfix">
           <div class="post">
             <h2>Основное определение</h2>
             <p>Иде́я (др.-греч. ἰδέα — видность, вид, форма, прообраз) в широком смысле — мысленный прообраз какого-либо
                 предмета, явления, принципа, выделяющий его основные, главные и существенные черты.
                 В ряде философских концепций — умопостигаемый и вечный прообраз реальности.
                 В русских философских словарях XVIII века (см. Антиох Кантемир и Григорий Теплов) идея сближалась с понятием.</p>
             <p></p>
           </div>
       </article>
    </section>


   <section class="container clearfix">
        <aside role="complementary">
            <h2>Вход, регистрация</h2>


            <table>
                <tr>
                    <td>Никнэйм</td>
                    <td><input type="text" name="userName" id="userName" value="{{ userName }}" required></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="text" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" name="login" id='loginButton'>Войти</button>
                        <button type="button" name="register" id="registerButton">Зарегистрироваться</button>
                    </td>
                </tr>
            </table>



            <p></p>
            <p><a href="#">Перейти на верх страницы<span class="icon">:</span></a></p>
        </aside>
        <article class="post content">
            <ul class="post-list">
                <li>
                    <h2><a href="templates/blog.jinja2">Вставляем картинку</a></h2>
                    <img src="static/mozg.png" alt="Мозг" />
                    <p><a href="#" class="more-link">Перейти на верх<span class="icon">:</span></a></p>
                </li>
            </ul>
        </article>
   </section>
    <!-- / #content -->
{% endblock %}