{% extends 'mytemplate.jinja2' %}
{% block content %}
    <section role="banner">
        <hgroup>
        <h1>Профиль пользователя</h1>
    </hgroup>
    </section>
    <section role="userInfo">

        <div class="leftInfo">
            <p style="text-align: center">
                <span class="image"><img src="static\cat.jpg"  alt="cat"/></span>
            </p>
            <ul id="nameList">
                <li> Никнейм </li>
                <li> Имя </li>
                <li> Фамилия </li>
            </ul>
        </div>

        <div class="rightInfo">
            <span class="orange_font" style="position: relative; left: 300px">Добавьте свою идею</span>
                <div style="height: 5px"></div>
                <table style="line-height: 40px; position: relative; left: 30px; top: 30px;float: left;">
                    <tr>
                        <td>Название</td>
                        <td><input type="text" name="ideasName" id="ideasName" style="position: relative; left: 20px; width: 150px;"
                                   value="{{ ideasName }}" required></td>
                    </tr>
                    <tr>
                        <td>Категория</td>
                        <td><select name="category" id="category" style="position: relative; left: 20px; width: 150px">
                                <option value="1">Пункт 1</option>
                                <option value="2">Пункт 2</option>
                                <option value="3">Пункт 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button>Добавить</button>
                        </td>
                    </tr>
                </table>

            <div id="descr">
                <table>
                    <tr>
                        <td>Описание</td>
                    </tr>
                    <tr>
                        <td>
                            <textarea style="position: relative; top:10px; height: 300px;width: 500px"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <div class = "ideasList">
        <span class="orange_font" style="position: relative; left: 50px; top: 20px;"> Мои идеи </span>
        <table border="2" style="position: relative; top: 30px; left: 30px; text-align: center">
            <tr style="background-color: #f0f0f0; font-weight: bold;">
                <td style="width: 50px;">№</td>
                <td style="width: 200px;">Название</td>
                <td style="width: 200px;">Категория</td>
                <td style="width: 100px;">Средняя оценка</td>
                <td style="width: 400px;">Комментарии</td>
            </tr>
        </table>
    </div>

    <div class="gap" style="height: 100px"></div>
{% endblock %}